body {
    margin: 0 auto;
    background-color: black;
}

nav { 
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    background-color: gray;
    color: aliceblue
    ;
}

nav a {
    text-decoration: none; 
    color: black;
}

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif
    border: aliceblue;

}

.links {
    color: aliceblue;
    display: flex
    text-align: center;

}

.links ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}